<h1>Pomodoros</h1>
<ul>
  {{#each model as |pomodoro|}}
    <li>{{pomodoro.title}}: {{pomodoro.done}}</li>
  {{/each}}
</ul>

<button {{action "add"}}>Add Pom</button>
<button {{action "delete"}}>Remove Pom</button>

{{outlet}}
